<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="row" data-hook="checkout_header">
    <h1 class="columns three alpha" data-hook="checkout_title"><%= t(:checkout) %></h1>
    <div class="columns thirteen omega" data-hook="checkout_progress"><%= checkout_progress %></div>
  </div>

  <p>
    <%= raw t(:order_not_yet_placed) %>
  </p>

  <div class="row" data-hook="checkout_content">
    <div class="row columns <%= if @order.state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end %>" data-hook="checkout_form_wrapper">
      <%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} -%>
      <div class="form-buttons">
        <%= button_to t(:place_order), paypal_finish_order_checkout_url(@order, {:token => params[:token] , :PayerID => params[:PayerID], :payment_method_id =>
        params[:payment_method_id] } ), :class => "button primary" %>
      </div>
  </div>

</div>
